Tabla de frecuencias de las variables categoricas

In [24]:
import pandas as pd

# Leer el CSV
df = pd.read_csv('data/data_divorce.csv')

In [ ]:
# Elegir una de las variables categoricas
var_categoricas = ['DEPREG', 'MUPREG', 'MESREG', 'MESOCU', 'DEPOCU', 'MUPOCU', 'GETHOM', 'GETMUJ', 
                   'NACHOM', 'NACMUJ', 'ESCHOM', 'ESCMUJ', 'OCUHOM', 'OCUMUJ']

# Crear tabla de frecuencias
tabla_freq = pd.DataFrame({
    'Categoría': df['OCUMUJ'].value_counts().index,
    'Frecuencia': df['OCUMUJ'].value_counts().values,
    'Porcentaje': (df['OCUMUJ'].value_counts(normalize=True).values * 100).round(2)
})

# Ordenar por categoría
tabla_freq = tabla_freq.sort_values('Frecuencia', ascending= False).reset_index(drop=True)

#Imprimir tabla
tabla_freq

                                             Categoría  Frecuencia  Porcentaje
0                        No especificado en otro grupo       34682       48.45
1                                             Ignorado       18259       25.51
2                        Profesionales de la enseñanza        3653        5.10
3                                          Oficinistas        2701        3.77
4    Empleados contables y encargados del registro ...        1483        2.07
..                                                 ...         ...         ...
120                 Panaderos, pasteleros y confiteros           1        0.00
121                Limpiadores y asistentes domesticos           1        0.00
122                                           Jubilado           1        0.00
123  Agricultores y trabajadores calificados de exp...           1        0.00
124                                      Ensambladores           1        0.00

[125 rows x 3 columns]